.box-blue {
	position: relative;
	background: rgb(2,71,253);
	width: 400px;
	height:400px;
}
.box-green {
	background: rgb(56,120,6);
	position: relative;
	top: 100px;
	left: 100px;
	width: 200px;
	height:200px;
}
.box-black {
	background: rgb(1,0,1);
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}